// imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// fonts
$brandFont: "Montserrat";
$headerTextFont: "Open Sans";

// colors
$headerColor: white;
$bgColor: grey;
$contentColor: lightblue;

body {
    background-color: $headerColor;
}

.bg-color {
    background-color: $bgColor;
}

.content-color {
    background-color: $contentColor;
}

.navbar-brand {
    font-family: $brandFont;
}

.header-text {
    font-size: 0.8em;
    font-family: $headerTextFont;
}

.jumbotron {
    padding: 1rem 0;
}

.jumbotron-sm {
    padding: 6rem 0 12rem 0;
}

.active {
//    text-decoration: underline;
}

.anchor:before {
    height: 56px;
    content: "";
    display: block;
}