// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header-text {
    font-size: 0.8em;
}

.jumbotron {
//    padding: 5rem 0;
}

.active {
//    text-decoration: underline;
}

.anchor:before {
    height: 56px;
    content: "";
    display: block;
}